<div class="row agents-insurance-plans">
    <div class="col-md-3"><a href="#"><div class="card p-3 text-center shadow-sm"><img src="../assets/images/icon-motor-b.png" class="mx-auto my-3" width="48" />Motor Insurance</div></a></div>
    <div class="col-md-3"><a href="#"><div class="card p-3 text-center shadow-sm"><img src="../assets/images/icon-health-b.png" class="mx-auto my-3" width="48" />Health Insurance</div></a></div>
    <div class="col-md-3"><a href="#"><div class="card p-3 text-center shadow-sm"><img src="../assets/images/icon-term-b.png" class="mx-auto my-3" width="48" />Term Insurance</div></a></div>
    <div class="col-md-3"><a href="#"><div class="card p-3 text-center shadow-sm"><img src="../assets/images/icon-travel-b.png" class="mx-auto my-3" width="48" />Travel Insurance</div></a></div>

</div>
