<div class="container p-3 bg-secondary d-flex rounded shadow my-3 text-white">
  <span><i class="fas fa-user fa-3x mr-3"></i></span>
  <span><h4 class="mb-0">Welcome<strong>&nbsp;
    {{ agentuser.firstname}} {{ agentuser.middlename}} {{ agentuser.lastname}} [ {{agentuser.agentid}} ]</strong>
  </h4>
  <label class="mt-0 mb-0">{{agentuser.Role}}</label></span>
  <span class="ml-auto">
    <button type="button" class="btn btn-danger" (click)="agentlogout()">
      Logout <i class="fas fa-sign-out-alt ml-2"></i>
    </button>
  </span>
  
</div>
<div class="d-flex container border mb-5 p-0" id="wrapper">
  
    <div class="bg-light border col-md-2 px-0 " id="sidebar-wrapper">
      <app-dash-sidebar></app-dash-sidebar>
    <!-- /#sidebar-wrapper -->
    </div>
  <!-- Page Content -->
        <div class="col-md-10 pl-5">
             <h2 class="my-3 c-heading">Welcome To Dashboard</h2>
               <router-outlet></router-outlet>  
        </div>
</div>
